/* .btn:hover {
    background-color: #634700 !important;
    color: white !important;
} */

/* ======== My button ========== */
.resouces .btn-primary {
    background-color: transparent !important;
}

.resouces .btn-primary:hover {
    color: white !important;
    background-color: #634700 !important;
}
.resouces .btn-primary:focus {
    color: white !important;
    background-color: #634700 !important;

}

.resouces .btn-primary:focus,
.resouces .btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(233, 195, 89, 0.8) !important;
}


/* ======== End my button ========== */


/* ======= Display chosen resources ========== */
.box {
    display: none;
}

.show {
    display: block;
}
/* ======= End display chosen resources ========== */

/* ================ box ================= */

.resource-type {
    grid-auto-rows: 1fr;
}

.box{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.box:hover{
    box-sizing: content-box;
    border: 0.1em solid #634700;
    border-radius: 1em;
    box-shadow: 0.3em 0.3em 0.3em 0.1em #634700bc;

}
