/* .btn:hover {
    background-color: #634700 !important;
    color: white !important;
} */

/* ======== My button ========== */
.resouces .btn-primary {
    background-color: transparent !important;
}

.resouces .btn-primary:hover {
    color: white !important;
    background-color: #634700 !important;
}
.resouces .btn-primary:focus {
    color: white !important;
    background-color: #634700 !important;

}

.resouces .btn-primary:focus,
.resouces .btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(233, 195, 89, 0.8) !important;
}
/* ======== End my button ========== */

.btn:not(:first-child) {
    margin-left: 2em;

}


/* ======= Display chosen resources ========== */
.box {
    display: none;
}

.show {
    display: block;
}
/* ======= End display chosen resources ========== */
